<div class="carsForm">
  <form [formGroup]="form">
    <div><label>model: <input type="text" formControlName="model"></label></div>
    <div><label>year: <input type="number" formControlName="year"></label></div>
    <div><label>price: <input type="number" formControlName="price"></label></div>
    <button (click)="add()">{{!carForUpdate?'save':'update'}}</button>
  </form>
</div>

<h3 class="h3MyCars">My cars:</h3>
<hr>
<div class="myCars">
  <div class="car" *ngFor="let car of cars">
    <p>id: {{car.id}}</p>
    <p>model: {{car.model}}</p>
    <p>year: {{car.year}}</p>
    <p>price: {{car.price}}</p>

    <button (click)="update(car)">Update</button>
    <button (click)="delete(car.id)">delete</button>
  </div>
</div>
